{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>libelle</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
{% endblock %}